
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    color: #333;
    overflow-x: hidden;
}

.hamburger{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger
{
    color: #F5F5F5;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 13vh;
    left: 0;
    background-color: #0C234B;
    width: 100vw;
    text-align: left;
    padding: 10px 0;
}

.mobile-menu a:focus {
    background-color: #AB0520; 
}

button:focus,
.mobile-menu a:focus {
    outline: 2px solid #FFD700; 
}

.mobile-menu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.mobile-menu a:hover {
    background-color: #AB0520;
}

.mobile-menu.show {
    display: block;
}

.navbar {
    background-color: #0C234B;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100vw;
    top: 0;
    z-index: 1000;
    overflow-y: hidden;
}

.logo-container {
    padding-top: 10vh;
    width: 100%;
    /*height: 20px;*/
    overflow: hidden;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 100%;
    /*height: 10vh;*/
    object-fit: cover;
    object-position: top; 
}


.hero {
    padding: 100px 20px;
    text-align: center;
    background-color: #AB0520;
    color: white;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.news-grid article {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.news-grid article img {
    width: 100%;
}

.article-img {
    width: 100%;
}

footer {
    background: #0C234B;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; 
    }

    .hamburger {
        display: block; 
    }

    .secondary-link {
        display: none; 
    }
}
